<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265312192270-f5vsirt7dvm1f36l2u8hk7i7v8c5hd7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265312192270-f5vsirt7dvm1f36l2u8hk7i7v8c5hd7i</string>
	<key>API_KEY</key>
	<string>AIzaSyAcbASfZMfq8K1CitTknVjFPdJVfdpjLwM</string>
	<key>GCM_SENDER_ID</key>
	<string>265312192270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.saytv.app</string>
	<key>PROJECT_ID</key>
	<string>saytv-sdk-fakeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>saytv-sdk-fakeapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265312192270:ios:fcef205704c2196aac795f</string>
</dict>
</plist>